<suite name="Test2 - Suite" >
	<test name ="ApiTest">
		<classes>
		      <class name="automationFramework.TestCases.ApiCustomerPost" />
		</classes>
	</test>
		<listeners>
       <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
</suite>